@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
/*to remove unexpected gape*/
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family:'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
p{font-size: 1.4rem;
    color: black;
    text-align: left;
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: .05rem;
}
    
.section-title{
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 10px;
    text-transform: uppercase;letter-spacing: .2rem; text-align: center;
}

.section-title span{
    color: crimson;
}

.cta{
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border:3px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition:.3s ease;
    transition-property: background-color, color;
}
.cta:hover{
    color: white;
    background-color: crimson;
}

/*header sction*/

#header{
    position: fixed;
    z-index: 100;
    left: 0;
    top:0;
    width:100vw;
    height: auto;
    
   
}

#header .header{
    min-height: 8vh;
    background-color: rgba(31, 30, 30, 0.24);
    
}

#header .nav-bar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding:0 10px;
}
#header .nav-list ul{
    list-style: none;
    position: absolute;
    background-color: black;
    width: 100vw;
    height: 100vh;
    left: 0;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    overflow: hidden;
    
}
#header .nav-list ul a{
    
    font-size: 2rem;
    font-weight: 500px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    letter-spacing: .2rem;
    }

    #header .nav-list ul a::after{
        content:attr(data-after);
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        color:rgba(240, 248, 255, 0.021) ;
        font-size: 13rem;
        letter-spacing: 0px;
        z-index: -1;
    }

    #header .nav-list ul li:hover a::after{

        transform: translate(-50% , -50%) scale(1);
    }
    #header .nav-list li{
        padding:20px;
    }

    #header .hamburger{
        height: 40px;
        width: 40px;
        border: 3px solid white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 100;
        position: relative;
        cursor: pointer;
    
    }

    #header .hamburger .bar{
        width: 20px;
        height: 3px;
        background-color: white;
        position: relative;
        z-index: -1;
    }

    #header .hamburger .bar::after,

    #header .hamburger .bar::before{
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        background-color:white;
        transition: .3s ease;
        transition-property: top, bottom;
    }
    
    #header .hamburger .bar::before{
        top:8px;

    }
    #header .hamburger .bar::after{
        bottom: 8px;

    }



/*end of header sction*/




/*hero sction*/

#hero{
    background-image: url(https://wallpaperaccess.com/full/656670.jpg);
    background-size: cover;
    background-position: top center;
    position:relative;
    z-index: 1;
}

#hero .hero{
    max-width: 1200px;
    margin:0 auto;
    padding:0 50px;
    justify-content: flex-start;
}

#hero::after{
    content: '';
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;

}

#hero h1{
    display: block ;
    width: fit-content;
    font-size: 4rem;
    color:transparent;
    position: relative;
    animation: text_reveal .5s ease forwards;
    animation-delay: .5s;
}
#hero h1:nth-child(1){
    animation-delay: 1s;
}
#hero h1:nth-child(2){
    animation-delay: 2s;
}
#hero h1:nth-child(3){
    animation:text_reveal_anita .5s ease forwards;
    animation-delay: 3s;
}

#hero h1 span{
    position: absolute;
    top:0;
    left: 0;
    height:100%;
    width:0%;
    background-color: crimson;
    animation: text_reveal_box 1s ease;
    animation-delay: 1s;
}

#hero h1:nth-child(1) span{
    animation-delay: .5s;
}
#hero h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#hero h1:nth-child(3) span{
    animation-delay: 2.5s;
}


/*End of hero sction*/

/*Service Section*/


#services .service{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0px auto;
    padding: 100px 0;

}

#services .service-top{
    width:450px;
    margin: 0 auto;

}

#services .service-top p{
    color: black;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    

}
#services .service-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#services .service-item{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;justify-content: center;flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(https://kaizensolutionsph.com/wp-content/uploads/2019/09/Web-Development.jpeg);
    background-size: cover;
    margin:10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;

}

#services .service-item::after{
    content: '';
    position: absolute;
    
    left: 0;
    top: 0;
    height: 100%; width: 100%;
    background-image:linear-gradient(60deg, #29323c 0%  , #485563 100%) ;
    opacity: .9;
    z-index: -1;
    
}

#services .service-bottom .icon img{
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
}

#services .service-bottom h2{
    color: white;
    font-size: 2rem;margin-bottom: 10px;
    text-transform: uppercase;
}


#services .service-bottom p{
    color:white
    
}


/*End of Service Section*/

/*Project section*/

#projects .projects{
    max-width:1200px;
    margin: 0 auto;
    padding: 100px;
    flex-direction: column;

   
}
#projects .projects-header h1{
    margin-bottom: 50px;
}

#projects .all-projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
#projects .project-items{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    
    overflow: hidden;
    border-radius: 20px;

}

#projects .projects-info{
    padding:30px;
    flex-basis:50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image:linear-gradient(60deg, #29323c 0%  , #485563 100%) ;
    color:white;

}
#projects .projects-info h1{
    font-size: 4rem;
    font-weight: 500;
}

#projects .projects-info h2{
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}
#projects .projects-info p{
    color:white;
}


#projects .project-img img{
    flex-basis: 50%;
    height: 300px;
    transition: .5s ease transform;
    
    
}

#projects .project-img{
   
    position: relative;
    overflow:hidden;

    
}
#projects .project-img::after{
    content:'';
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    background-image:linear-gradient(60deg, #29323c 0%  , #485563 100%) ;
    opacity:.7;
}

#projects .project-items:hover .project-img img{
    transform:scale(1.1);
}


/*Enf of Project section*/

/* About */

#about .about{
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

#about .col-left img{
    width:250px;
    height: 460px;
}
#about .col-left{
    width:250px;
    height: 460px;
}

#about .col-right{
    width: 100%;
    text-align: center;
}


#about .col-right h2{
    font-size: 1.8rem;
    font-weight: 500;
    /*text-align: center;*/
    letter-spacing: .2rem;
    margin-bottom: 10px;

}
#about .col-right p{

    text-align: center;
    margin-bottom: 20px;
   

}

#about .col-right .cta{
    color: black;
    margin-bottom: 50px;
}


#about .col-left .about-img{
    position: relative;
    background:white

    
   
}

#about .col-left .about-img img{
   
    border: 7px solid white;
    
   
}
#about .col-left .about-img::after{
    margin-top: 15px;
    content:'';
    position: absolute;
    height:98%;
    width: 98%;
    left:-33px;
    border: 7px solid crimson;
    z-index: -1;

}
/*End of about*/

/*Contact section*/

#contact .contact{
    
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    
}
#contact .contact-items{
    width: 400px;
    text-align: center;
    
}

.icon{
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}
#contact .icon img{
    height: 50px;
    width: 50px;
   

}
#contact .contact-item{
    width:80%;
    padding: 20px;
    align-items: center;
    border-radius: 10px;
    /*background:violet;*/
    margin: 30px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 18px 0px #0000002c;
    flex-direction: column;
    transition: .5s ease box-shadow;


}
#contact .contact-item:hover{
    box-shadow: 0px 0px 5px 0px #0000002c;

}


#contact .contact-info h1{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 5px;
}

#contact .contact-info h2{
    font-size: 1.3rem;
    line-height: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
    letter-spacing: 0rem;
}
/*End of Contact section*/

/*Footer section*/


#footer .footer{
    min-height: 200px;
    background-image:linear-gradient(60deg, #29323c 0%  , #485563 100%) ;
    flex-direction: column;
    padding:30px 0;

}
#footer .social-icons img{
    height: 30px;
    width: 30px;
    margin: 5px;
    
    
   
}

#footer .social-icons{
    margin-top: 5px;
    display: flex;
    align-items: center;
    
}
#footer .social-item img{
    filter: grayscale(1);
    transition: .7s ease filter;
    
}

#footer .social-item:hover img{
    filter: grayscale(0);
    
}

.brand h1{
    font-size: 3.5rem;
    color: white;
    letter-spacing: .2rem;
}


.brand h1 span{
    font-size: 3.5rem;
    color:crimson;
    letter-spacing: .2rem;
}

#footer .footer h2{
    color: white;
    margin-top: 5px;
    font-weight: 300;
    letter-spacing: .2rem;

}

#footer .footer p{
    color: white;
    font-weight: 300;
    letter-spacing: .2rem;
}

#footer .myname{
    color: white;
}






/*End of Footer section*/






/*keyframs*/

@keyframes text_reveal_box{
    50%{
        width: 100%;
        left:0;
    }

    100%{
        width:0;
        left:100%;
    }
}

@keyframes text_reveal{
    100%{
        color:white;
    }
}

@keyframes text_reveal_anita{
    100%{
        color:crimson;
        font-weight: 300px;
    }
}

/*keyframs*/

/*media query for tablet*/

@media only screen and (min-width: 768px){

    .cta{
        font-size: 2.5rem;
        padding:20px 60px;
    }
    h1.section-title{
        font-size: 6rem;
    }

    /*hero section query*/
    #hero h1{
        font-size: 7rem;
    }

    /*service query*/
    #services .service-bottom .service-item{
        flex-basis:45%;
        margin:1.5%
    }
    /* end service query*
    /*projects*/
      

    #projects .project-items{
        height: 400px;
        margin: 0;
        border-radius: 0px;
        width: 100%;
    
    }
    #projects .project-items:nth-child(even){
        flex-direction: row-reverse;
    }
    #projects .projects{
        padding: 0px;
    }
    #projects .all-projects .projects-info{
        height: 100%;
        
       
    }
    #projects .project-img{
        height: 100%;
        width: 50%
        
       
    }

    #projects .project-img img{
        height: 100%;
        width: 100%;
        
        
    }
    #projects .project-items{
        flex-direction: row;
    }

/*end of project query*/

/*about query*/

 
    #about .about{
        flex-direction: row;
    }
    #about .col-right{
        width:500px;
    }
    #about .col-left{
        margin: 0 0 0 50px;
    }

    #about .col-right h1{
        text-align: left;
        padding: 0px 0px 0px 30px;
    }
    #about .col-right h2{
        text-align: left;
        padding: 0px 0px 0px 30px;
    }
    #about .col-right p{
        text-align: left;
        padding: 0px 0px 0px 30px;

    }
    
/*about query*/


    #contact .contact{
        padding:100px 0;
        align-items: center;
        justify-content: center;
    }
   #contact .contact-items{
       width: 100%;
       display: flex;
       flex-direction:row;
       padding: 20px;
   }
   #contact .contact-item{
       flex-direction: row;
       margin: 20px;
   }
   #contact .contact-info{
       width: 100%;
       text-align: left;
       padding-left: 20px;
       
   }

    
    

}      

/*end Media Query for tablet*/


/*Media Query for desktop*/

@media only screen and (min-width: 1200px){


    #services .service-bottom .service-item{
        flex-basis: 22%;
        margin:1.5%;
    }
    #services .service-top{
        width:800px;
        margin: 0 auto;
    
    }
}

/*Media Query for desktop*/





    